@model MvcStock.Models.Entity.TblCategory
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>
            <label>Category Name</label>
            <input type="text" class="form-control" name="CategoryName" />
        </div>*@
    <div>
        <label>Category Name</label>
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add New Category</button>
    </div>
</form>

