@using MvcStock.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>CATEGORY ID</th>
        <th>CATEGORY NAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tbody>
        @foreach(var ctgr in Model)
            {
                <tr>
                    <th>@ctgr.Categoryid</th>
                    <td>@ctgr.CategoryName</td>
                    <td><a href="/Category/Delete/@ctgr.Categoryid" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Category/PullCategory/@ctgr.Categoryid" class="btn btn-warning">Update</a></td>
                </tr>
            }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}))

<a href="/Category/AddCategory/" class="btn btn-success">Add New Category</a>

