
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Customer Name</label>
        <input type="text" class="form-control" name="CustomerName" />
    </div>
    <div>
        <label>Customer Surname</label>
        <input type="text" class="form-control" name="CustomerSurname" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add New Customer</button>
    </div>
</form>

