@model MvcStock.Models.Entity.TblCustomer
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Customer Name</label>
        @Html.TextBoxFor(m=>m.CustomerName, new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.CustomerName,"", new {@style="color:red"})
        @*<input type="text" class="form-control" name="CustomerName" />*@
    </div>
    <div>
        <label>Customer Surname</label>
        @Html.TextBoxFor(m=>m.CustomerSurname, new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.CustomerSurname,"",new {@style="color:red"})
        @*<input type="text" class="form-control" name="CustomerSurname" />*@
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add New Customer</button>
    </div>
</form>

